! ! !---------------------------------
! ! !---- Xresources By DaeS Dp ------
! ! !---------------------------------


! ! !!!Color!!!
! ! !---------------------
!  !Black = 30m
!  *color0:       #151515
!  !Gray = 1,30m
!  *color8:       #666a6e
! ! !---------------------
!  !Red = 31m
!  *color1:       #a85858
!  !Red2 = 1,31m
!  *color9:       #ff8685
! ! !---------------------
!  !Green = 32m
!  *color2:       #6587a8
!  !Green2 = 1,32m
!  *color10:      #6587a8
! ! !---------------------
!  !Yellow = 33m
!  *color3:       #ffd58a
!  !Yellow2 =1,33m
!  *color11:      #ffd58a
! ! !---------------------
!  !Blue = 34m
!  *color4:       #6699cc
!  !Blue2 = 1,34m
!  *color12:      #6699cc
! ! URxvt*color4: #0000A8
! ! URxvt*color12: #5054F8
! ! !---------------------
!  !Magenta = 35m
!  *color5:       #6565a8
!  !Magenta2 = 1,35m
!  *color13:      #6565a8
! ! !---------------------
!  !Cyan = 36m
!  *color6:       #99a9cf
!  !Cyan2 = 1,36m
!  *color14:      #99a9cf
!  !---------------------
!  !White = 37m
!  *color7:       #e0e0e0
!  !White2 = 1,36m
!  *color15:      #efefef
! ! !---------------------
!  *background:   #151515
!  *foreground:   #d0d0d0

! ! !!!Config Urxvt!!!
! ! !-----------------------------------------------------
!  URxvt.transparent: true
!  URxvt.inheritPixmap: false
!  URxvt.savelines: 1000
!  URxvt.urlLauncher: chromium
!  URxvt.font: xft: Terminus:pixelsize=10:antialias=false
!  URxvt.geometry: 93x26
!  URxvt.fading: 25%
!  URxvt.scrollBar: true
!  Urxvt.secondaryScroll: true
!  URxvt.scrollBar_right: true
!  URxvt.scrollBar_floating: true
!  URxvt.scrollstyle: plain
!  URxvt.scrollColor: #252525
!  URxvt.cursorColor: #404040

! #Transparency
! URxvt.transparent: true
! URxvt.shading: 20
! URxvt.fading: 40
! #URxvt.fadeColor: colour
! #URxvt.tintColor: colour
! URxvt.blendType: alphablend
! #URxvt.blurRadius: number
! #URxvt.background: colour
! #URxvt.foreground: colour
! #URxvt.backgroundPixmap: image path
! ! !------------------------------------------------------
Emacs.default.attributeBackground:	black
Emacs.default.attributeForeground:	white
!Negro
URxvt*color0: #363636
URxvt*color8: #424242
!Rojo
URxvt*color1: #C37561
URxvt*color9: #D19485
!Verde
URxvt*color2: #A0A57E
URxvt*color10: #B6B99D
!Amarillo
URxvt*color3: #D1A375
URxvt*color11: #DEBC9C
!Azul
URxvt*color4: #7985A3
URxvt*color12: #98A1B9
!Magenta
URxvt*color5: #AB716D
URxvt*color13: #BE918E
!Cyan
URxvt*color6: #98B9B1
URxvt*color14: #CBE6CB
!Blanco
URxvt*color7: #D0D0D0
URxvt*color15: #E6E6E6

!Especificamos el titulo de la ventana, por default, urxvt
URxvt.title:Consola
URxvt*termName: rxvt
!Eliminamos las barras de scrol
URxvt*scrollBar_right: false
URxvt*scrollBar: false
!Agregamos transparencia
URxvt.depth: 32
URxvt.background:[80]#000000
!Definimos el color principal (letras)
URxvt*foreground: #A8A8A8
!Definimos el color del cursor
URxvt.cursorColor: #D0D0D0
URxvt*background: #3A3636
!Añadimos parpadeo al cursor
URxvt.cursorBlink:true
!Definimos el tipo de fuente a usar (para obtener una lista completa de fuentes disponibles en su sistema use “fc-list” en su consola).
URxvt*font: xft:terminus:pixelsize=12
!URIs cliqueables en la terminal si tienes Perl instalado.
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: /usr/bin/chromium
URxvt.matcher.button: 1
!Resaltar enlaces web
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

URxvt.letterSpace:-1
URxvt*borderLess: false
URxvt*inheritPixmap: true
URxvt*tintColor: white
URxvt*shading: 10
URxvt*geometry: 84×24
